<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751943964893-s9onlq8qf4hkssaqu2nfk4i52rbqm21e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751943964893-s9onlq8qf4hkssaqu2nfk4i52rbqm21e</string>
	<key>API_KEY</key>
	<string>AIzaSyCsTfPelifDiHNSIlbKYScxMd2icJCjINc</string>
	<key>GCM_SENDER_ID</key>
	<string>751943964893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nightMovie</string>
	<key>PROJECT_ID</key>
	<string>night-movie-f7aea</string>
	<key>STORAGE_BUCKET</key>
	<string>night-movie-f7aea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751943964893:ios:ec462af2c72814de8ee334</string>
</dict>
</plist>